/* breakpoints */
@custom-media --sm (width >= 32em);
@custom-media --md (width >= 48em);
@custom-media --lg (width >= 64em);
@custom-media --xl (width >= 80em);

:root {
  /* transitions */
  --transition-duration: 300ms;
  --transition-easing: ease;
  --transition: var(--transition-duration) var(--transition-easing);

  /* clear */
  --clear: {
    &::after {
      content: '';
      display: block;
      clear: both;
    }
  }

  /* hide */
  --hide: {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
  }
}
